- content_for(:head) do
  = javascript_include_tag 'slideshow.js'

:javascript
  __morePicturesPath__ = '#{@more_pictures_path}';
  __advance_by_progress__ = '#{@advance_by_progress}';

%img#spacer{src: '/assets/spacer.gif', height: '1px', width: '1280px'}

= render partial: 'gridview'

#slide{style: 'width:90%; text-align: center;'}
  .center{style: 'position: absolute; top: 35px; left: 0px; width: 100%; text-align: center;'}
    #pictureArea.hidden
      #imageFrameOuter{style: 'display: table; width: 100%'}
        #imageFrameInner{style: 'display: table-cell; vertical-align: middle;'}
          #imageFrame{align: 'center'}
            %img#picture{style: 'vertical-align: middle;'}
            #imageCaption
              .fleft
                %h5
                  %a#title{target: '_blank'}
                  %b by:
                  %a#owner
              .fright
                %h5
                  %span#fromTitle Sources:
                  #fromStreams{style: 'display:inline'}

#left.sideNav{style: 'position: absolute; top: 60px; left: 0px;'}
  %h2.arrow#leftArrow{style: 'text-align:left; padding-left: 5px;'}
    <
#right.sideNav{style: 'position: absolute; top: 60px; right: 0px; width: 40px; vertical-align: middle;'}
  %h2.arrow#rightArrow{style: 'text-align:right; padding-right: 5px;'}
    >

  = link_to 'Next', '#', id: 'next', style: 'display: none'
#preload{style: 'display: none'}

= render partial: 'bottom_banner'

#bottomLeft
  = render partial: 'fave_panel'

#bottomRight
  .fright{style: 'margin-left: 10px'}
    %a#toGridLink{href: '#'}
      %img{src: '/assets/grid.png'}
  #interestingessPanel.fright.hidden
    %h4
      Interestingness:
      %span#interestingness
        ?
  #ratingDisplayPanel.hidden.fright.pointer
    #ratingDisplay
