- content_for(:head) do
  = javascript_include_tag 'slideshow.js'

:javascript
  __morePicturesPath__ = '#{@more_pictures_path}';
  __advance_by_progress__ = '#{@advance_by_progress}';

%img#spacer{src: '/assets/spacer.gif', height: '1px', width: '1280px'}

= render partial: 'gridview'

#empty-gallery-message.container.hidden
  #empty-gallery-message.well
    - if @empty_message_partial.present?
      = render partial: @empty_message_partial
    - else
      %h2
        = @empty_message

#slide{style: 'width:90%; text-align: center;'}
  #pictureArea.hidden
    #imageFrameOuter{style: 'display: table; width: 100%'}
      #imageFrameInner{style: 'display: table-cell; vertical-align: middle;'}
        %img#picture.pointer{style: 'vertical-align: middle;'}
        #imageCaption
          %h5
            %a#title{target: '_blank'}
            by:
            %a#owner
            %span#fromTitle
              Sources:
              %span#fromStreams

#left.side-nav.left
  %h2.arrow#leftArrow{style: 'text-align:left; padding-left: 5px;'}
    <
#right.side-nav.right
  %h2.arrow#rightArrow{style: 'text-align:right; padding-right: 5px;'}
    >

  = link_to 'Next', '#', id: 'next', style: 'display: none'
#preload{style: 'display: none'}

= render partial: 'bottom_banner'

#bottomLeft
  = render partial: 'fave_panel'

#bottomRight
  .fright
    = render partial: 'mode_switch'
  #bottom-right-pic-info.fright
    #interestingessPanel.hidden
      %h4
        Interestingness:
        %span#interestingness
          ?
