:javascript
  __gridMode__ = true;
  klekr.Global.filtersOpts = { ratingFilter: true, favedAtFilter: false}
  klekr.Global.readonly = true
  klekr.Global.canAutoPlay = true

- if @default_filters
  :javascript
    klekr.Global.defaultFilters = #{@default_filters}

- content_for(:top_left) do
  .fleft
    = icon(@icon)
  .fleft
    %h3#exhibit-name
      = @exhibit_name
  .fleft
    = auto_discovery_link_tag(:rss, @exhibit_params.merge(format: :rss))
  .fleft
    = render partial: '/general/add_this', locals: {title:  'klekr - ' + @exhibit_name}
- content_for(:top_right) do
  - if @current_collector.blank?
    %h3#invite-link
      %span.question Like these photos?
      = link_to  'Start your own discovery now!', slideshow_path


= render partial: 'slideshow'
= render partial: 'slide_options'