:javascript
  __gridMode__ = true;
  klekr.Global.filtersOpts = { ratingFilter: true, favedAtFilter: #{@current_collector.collection_synced?} }
  klekr.Global.canAutoPlay = true

- content_for(:top_left) do
  .fleft
    = icon(@current_collector)
  .fleft
    %h3
      My Faves
  #option-button.gallery-option.fleft
    = image_tag('option.png')
  .fleft.has-popover{'data-content' => 'Chose your favorite social network to share. The shared faves will have the same filter settings your are using now.', title: 'Share Your Faves', 'data-popover' => 'below'}
    = render partial: '/general/add_this', locals: {title: "Checkout my favorite photos on klekr: ", :dynamic_url => true}
= render partial: 'slideshow/slideshow'
= render partial: 'slideshow/slide_options'