:javascript
  __gridMode__ = true;
  klekr.Global.filtersOpts = { ratingFilter: true, favedAtFilter: #{@current_collector.collection_synced?} }

- content_for(:top_left) do
  .fleft
    = icon(@current_collector)
  .fleft
    %h3
      My Collection
  #option-button.fleft
    = image_tag('option.png')
  .fleft
    %a#share-link
      sharable link

= render partial: 'slideshow'
= render partial: 'slide_options'