:javascript
  __gridMode__ = true;

- content_for(:top_left) do
  .fleft
    =icon(@stream)
  #stream-info.fleft
    %a#stream-name.dropdown-toggle{href: '#', 'data-dropdown' => "dropdown"}
      %h4.inline
        = @stream.to_s
    - if @stream.alternative_stream
      #alternative-stream.inline
        %span.question Like these pictures?
        Checkout
        = link_to @stream.alternative_stream.to_s, flickr_stream_path(@stream.alternative_stream)

    #stream-dropdown.dropdown-menu.hidden
      %div
        = @stream.username + "'s"
        = link_to("flickr page", @stream.user_url, target: '_blank')
      - if @stream.alternative_stream
        %div
          = @stream.username + "'s"
          = link_to @stream.alternative_stream.type_display.downcase, flickr_stream_path(@stream.alternative_stream)

    - if @current_collector.present?
      = render partial: 'stream_panel'
    - else
      = link_to 'Login to subscribe to '
=render partial: 'slideshow'