- content_for(:head) do
  = javascript_include_tag 'slideshow.js'

#slide{style: 'width:90%; text-align: center;'}
  .spacer{style: 'width: 1280px;'}
    = image_tag('spacer.gif', width: '1280px', height: '875px')
  .center{style: 'position: absolute; top: 5px; left: 0px; width: 100%; text-align: center;'}
    %h4
      = @current_collector.user_name
      's Slide Show
      = link_to 'Back to My Collections', flickr_streams_path

    = image_tag('loading.gif', id: 'picture', style: 'display:none')
    = image_tag('loading.gif', id: 'loading', style: 'padding: 40px')
    #slideShowCaption
      %h3{style: 'margin: 8px'}
        -#- if(@picture.faved?)
        -#  Faved
        -#- else
        -#  = image_tag('loading.gif', id: 'faveWaiting', style: 'display:none')
        -#  -#= link_to 'Fave it!', fave_picture_path(@picture), method: :put, id: 'fave', remote: true
        -#  %span{id: 'favedText', style: 'display:none'} Faved
      %h5
        %b Title:
        = link_to '?pictureTitle', '?titleUrl'
        |
        %b By:
        = link_to '?pictureOwner', '?pictureOwnerPath', id: 'owner'
        |
        %b From:
        -#- @picture.flickr_streams.each do |flickr_stream|
        -#  = link_to "#{flickr_stream.username}'s #{flickr_stream.type_display}", user_path(flickr_stream.user_id)
        -#  |

      %h5.inline
        %b
          Personal Interestingness:
          -#= @picture.stream_rating.to_i

      #windowSizeSetting
        -#= render 'cookie_settings/form'
      Key shortcuts: "space" or "n" to the next picture, "b" to go back, "f" to fave it, "o" to see owners page
      -if notice
        %p#notice= notice
      = render(partial: 'general/copyright')

  #left{style: 'position: absolute; top: 0px; left: 0px; width: 15%; height: 750px; vertical-align: middle; '}
    %h2{style: 'line-height:750px; text-align:left; padding-left: 5px; cursor: pointer'}
      <
  #right{style: 'position: absolute; top: 0px; right: 0px; width: 15%; height: 750px; vertical-align: middle;'}
    %h2{style: 'line-height:750px; text-align:right; padding-right: 5px; cursor: pointer'}
      >

= link_to 'Next', '#', id: 'next', style: 'display: none'

