- content_for(:head) do
  = javascript_include_tag 'slideshow.js'

#slide{style: 'width:90%; text-align: center;'}
  .spacer{style: 'width: 1280px;'}
    = image_tag('spacer.gif', width: '1280px', height: '875px')
  .center{style: 'position: absolute; top: 5px; left: 0px; width: 100%; text-align: center;'}
    %h4
      = @current_collector.user_name
      's Slide Show
      = link_to 'Back to My Collections', flickr_streams_path
    #pictureArea
      = image_tag('loading.gif', id: 'picture')
      #slideShowCaption
        %h3{style: 'margin: 8px'}
          -#- if(@picture.faved?)
          %span#faved
            Faved
          %img#faveWaiting{src: 'assets/loading.gif', style: 'display:none'}
          %a#faveLink{href: '#'}
            Fave it!
          -#- else
          -#  = image_tag('loading.gif', id: 'faveWaiting', style: 'display:none')
          -#  -#= link_to 'Fave it!', fave_picture_path(@picture), method: :put, id: 'fave', remote: true
          -#  %span{id: 'favedText', style: 'display:none'} Faved
        %h5
          %b Title:
          %a#title{target: '_blank'}
          |
          %b By:
          %a#owner
          |
          %b From:
          #fromStreams{style: 'display:inline'}

        %h5.inline
          %b
            Personal Interestingness:
            %span#interestingness

        #windowSizeSetting
          -#= render 'cookie_settings/form'
      Key shortcuts: "space" or &rarr; to the next picture, "b" or &larr; to go back, "f" to fave it, "o" to see owners page
      -if notice
        %p#notice= notice
      = render(partial: 'general/copyright')

  #left{style: 'position: absolute; top: 0px; left: 0px; width: 15%; height: 750px; vertical-align: middle; '}
    %h2{style: 'line-height:750px; text-align:left; padding-left: 5px; cursor: pointer'}
      <
  #right{style: 'position: absolute; top: 0px; right: 0px; width: 15%; height: 750px; vertical-align: middle;'}
    %h2{style: 'line-height:750px; text-align:right; padding-right: 5px; cursor: pointer'}
      >

= link_to 'Next', '#', id: 'next', style: 'display: none'
#preload{style: 'display: none'}

