<%= form_for(@fave_stream) do |f| %>
  <% if @fave_stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fave_stream.errors.count, "error") %> prohibited this fave_stream from being saved:</h2>

      <ul>
      <% @fave_stream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :last_sync %><br />
    <%= f.datetime_select :last_sync %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
