<h1>Listing fave_streams</h1>

<table>
  <tr>
    <th>User</th>
    <th>Last sync</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fave_streams.each do |fave_stream| %>
  <tr>
    <td><%= fave_stream.user_id %></td>
    <td><%= fave_stream.last_sync %></td>
    <td><%= link_to 'Show', fave_stream %></td>
    <td><%= link_to 'Edit', edit_fave_stream_path(fave_stream) %></td>
    <td><%= link_to 'Destroy', fave_stream, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fave stream', new_fave_stream_path %>
