%h1 Listing fave_streams
%table
  %tr
    %th Type
    %th User
    %th Last sync
    %th
    %th
    %th
  - @fave_streams.each do |fave_stream|
    %tr
      %td= fave_stream.type
      %td= link_to fave_stream.user.realname, fave_stream.user.photosurl
      %td= fave_stream.last_sync
      %td= link_to 'Sync', sync_fave_stream_path(fave_stream)
      %td= link_to 'Show', fave_stream
      %td= link_to 'Edit', edit_fave_stream_path(fave_stream)
      %td= link_to 'Destroy', fave_stream, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Fave stream', new_fave_stream_path
= link_to 'Pictures', pictures_path