%p#notice= notice
%p
  %b User:
  = @fave_stream.user_id
%p
  %b Last sync:
  = @fave_stream.last_sync
= link_to 'Edit', edit_fave_stream_path(@fave_stream)
|
= link_to 'Sync', sync_fave_stream_path(@fave_stream)
|
= link_to 'Back', fave_streams_path