<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @fave_stream.user_id %>
</p>

<p>
  <b>Last sync:</b>
  <%= @fave_stream.last_sync %>
</p>


<%= link_to 'Edit', edit_fave_stream_path(@fave_stream) %> |
<%= link_to 'Back', fave_streams_path %>
