.user-name
  %a#user-name.dropdown-toggle{href: '#', 'data-dropdown' => "dropdown"}
    %span Hi!
    %span
      = @current_collector.user_name
  #user-dropdown.dropdown-menu.hidden
    #upper.inner
      #user-icon.fleft
        = icon(@current_collector)
      .fright
        %h4#username
          = @current_collector.full_name || @current_collector.user_name
        #detail.hidden
          #sources-count
            = link_to '...', flickr_streams_path, id: 'sources-link'
            sources.
          - if @current_collector.collection_synced
            #faved-count
              = link_to '...', faves_slideshow_path, id: 'faved-count-link'
              pictures faved.
          #new-pictures-count
            = link_to '...', slideshow_path, id: 'new-pictures-count-link'
            new pictures to see.
      .clearfix
    #bottom.inner
      = link_to 'Sign out', authentications_path, method: :delete, id: 'sign-out-link'
