- content_for(:head) do
  = javascript_include_tag 'authentication.js'
  = stylesheet_link_tag 'authentication'
:javascript
  __authUrl__ = '#{@auth_url}';
.container.login
  .bigTopPadding
    %h1.site-title
      Welcome to
      %span.site-name klekr!
    .beta-tag
      BETA

    %h4.site-subtitle.animated
      %a.help-title{herf: '#'}
        Discover photos of your own taste.
  .bigTopPadding{align: 'center'}

  #countDownRedirect.hidden
    %h3
      Redirecting to
      = link_to 'flickr.com', 'http://flickr.com'
      to
      = link_to 'login', @auth_url, class: 'hasTwipsy', title: "click here to login."
      in
      %span#countdown
        5
      secs...
  #redirect-link
    %h3
      Auto redirection stopped.
      = link_to 'Click here to login', @auth_url

  .flickr-login-notes
    *
    %span.site-name klekr
    links with your flickr account so that you don't have to create yet another account.

  #welcome-message.well

    %h2.uppercase#stop-countdown-link
      %a#stop-countdown.help-title{href: '#'}
        Want to know more about&nbsp;
        %span.site-name> klekr
        ?
    = render partial: 'more_about'

    .clearfix

  .tweet

