- content_for(:head) do
  = javascript_include_tag 'user.js'

.content{style: 'width:100%'}
  %h1=link_to @user.username, @user.photosurl
  - if @user.respond_to?(:realname)
    =@user.realname
  %br
  %p
    =link_to 'Back to User Search', users_path
    |
    =link_to 'Back to (S)lide Show', pictures_path, id: 'slide'
    |
    =link_to 'Back to My Collections', flickr_streams_path
  %br
  = render(partial: 'user_stream', locals: {stream: @upload_stream, stream_type: 'UploadStream', stream_pictures: @pictures, stream_name: 'uploads', stream_origin_url: @user.photosurl})
  = render(partial: 'user_stream', locals: {stream: @fave_stream, stream_type: 'FaveStream', stream_pictures: @faves, stream_name: 'faves', stream_origin_url: @user.photosurl + "favorites"})
  %p{:id => "notice"}
    = notice
  = render(partial: 'general/copyright')