!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      = @title
    %p
      Exception at #{Time.now.to_s(:short)}
    %h4
      = @exception.message
    %p
      = @exception.class
    %p
      .trace
        - @exception.backtrace.each do |trace|
          #{trace}
          %br


