- content_for(:head) do
  = javascript_include_tag 'slideshow.js'
:javascript
  next3images = #{@pictures_to_cache.to_json}
  largeUrl = '#{@picture.flickr_url(:large)}'
  mediumUrl = '#{@picture.flickr_url(:medium)}'
  windowSize = #{window_size_px}
#slide{style: 'width:90%; text-align: center;'}
  .spacer{style: 'width: 1280px;'}
    = image_tag('spacer.gif', width: '1280px', height: '875px')
  .center{style: 'position: absolute; top: 20px; left: 0px; width: 100%; text-align: center;'}
    %h5
      = @current_collector.user_name
      's Slide Show

    = image_tag(@default_pic_url, id: 'picture', style: 'display:none')
    = image_tag('loading.gif', id: 'loading', style: 'padding: 40px')
    #slideShowCaption
      %h3{style: 'margin: 8px'}
        - if(@picture.faved?)
          Faved
        - else
          = link_to 'Fave it!', fave_picture_path(@picture), method: :put, id: 'fave'
      %h5
        %b Title:
        = link_to display_title(@picture), @picture.url
        |
        %b By:
        = link_to @picture.owner_name, user_path(@picture.pic_info.owner)
        |
        %b From:
        - @picture.flickr_streams.each do |flickr_stream|
          = link_to "#{flickr_stream.username}'s #{flickr_stream.type_display}", user_path(flickr_stream.user_id)
          |
      %h5

        - if @hidden_treasure
          Discovering Hidden Treasures!
          (
          = link_to 'back to normal mode', slide_show_pictures_path
          )
        - else
          %b Guess of Personal Interestingness:
          = @picture.stream_rating.to_i

      %h5
        - unless @hidden_treasure
          = link_to 'Discover Hidden Treasure',  next_picture_path(@picture, hidden_treasure: true)
          |
        = link_to 'Back to My Collections', flickr_streams_path

        = link_to 'Next', next_picture_path(@picture, hidden_treasure: params[:hidden_treasure]), id: 'next', style: 'display: none'

      #windowSizeSetting
        = render 'cookie_settings/form'
      %p{:id => "notice"}
        = notice
      %p
        Key shortcuts: "space" to the next picture, "f" to fave it.
      = render(partial: 'general/copyright')

  #left{style: 'position: absolute; top: 0px; left: 0px; width: 15%; height: 750px; vertical-align: middle; '}
    %h2{style: 'line-height:750px; text-align:left; padding-left: 5px; cursor: pointer'}
      <
  #right{style: 'position: absolute; top: 0px; right: 0px; width: 15%; height: 750px; vertical-align: middle;'}
    %h2{style: 'line-height:750px; text-align:right; padding-right: 5px; cursor: pointer'}
      >

