%p{:id => "notice"}
  = notice

%p
  %b Title:
  = link_to display_title(@picture), @picture.ref_url
.picture{:style => "width: 1280px; text-align: center"}
  = link_to image_tag(@picture.url), picture_path(@picture.previous.id)
  .link{style: 'text-align:center, width: 100%'}
    = link_to 'Previous', picture_path(@picture.next.id)
    |
    = link_to 'Next', picture_path(@picture.previous.id)

= link_to 'All pictures', pictures_path
