- content_for(:head) do
  = javascript_include_tag 'slideshow.js'
:javascript
  next3images = #{@pictures_to_cache.to_json}
  mediumUrl = '#{@picture.flickr_url(:medium)}'
  windowSize = #{window_size_px}

.picture{:style => "width: 1280px; text-align: center; padding-top: 20px"}
  = link_to image_tag(@picture.flickr_url(:large), :id => 'picture'), next_picture_path(@picture)
  .link{style: 'text-align:center, width: 100%'}
    = link_to 'Previous', picture_path(@picture.next.id) if @picture.next
    |
    = link_to 'Next', next_picture_path(@picture)

  %p
    %b Title:
    = link_to display_title(@picture), @picture.url
    |
    %b By:
    = link_to @picture.owner_name, user_path(@picture.pic_info.owner)
    |
    from
    - @picture.flickr_streams.each do |flickr_stream|
      = link_to "#{flickr_stream.username}'s #{flickr_stream.type}", flickr_stream.stream_url
      |
    = link_to 'refresh', slide_show_pictures_path
    |
    = link_to 'My Streams', flickr_streams_path
    = render 'cookie_settings/form'

  %p{:id => "notice"}
    = notice

  %p{:id => "size"}

