%p{:id => "notice"}
  = notice

%p
  %b
    Secret:
    = @picture.secret
%p
  %b Title:
  = @picture.title
%p
  %b Ref url:
  = @picture.ref_url
%p
  %b Url:
  = @picture.url

= link_to 'Edit', edit_picture_path(@picture) |
= link_to 'Back', pictures_path
