= form_tag import_flickr_streams_path, method: :post, multipart: true do |f|

  %h4
    = label_tag :streams_yaml, 'Import Sources from a Yaml file'
  = file_field_tag "streams_yaml"
  = submit_tag "Import Streams"

= link_to 'Export Souces', flickr_streams_path+".yaml"