= form_tag import_flickr_streams_path, method: :post, multipart: true do |f|
  = label_tag :streams_yaml, 'Import collections from a Yaml file'
  = file_field_tag "streams_yaml"
  = submit_tag "Import Streams"

= link_to 'Export Collections to a Yaml file', flickr_streams_path+".yaml"