- content_for(:top_left) do
  %h3.inline
    My Sources
  %h4.inline
    = link_to 'Search for a flickr user', users_path
.center
  #myCollections
    %p{:id => "notice"}
      = notice

    %p
      = link_to 'Refresh All Collections', sync_all_flickr_streams_path

    - if @number_of_new_pics > 0
      %h4="#{@number_of_new_pics} New Photos!"

    #streamsTable
      %table{style: 'border: solid 1px; width: 100%'}
        %tr
          %th Type
          %th
          %th{style: 'text-align:left;'} Owner
          %th Rating
          %th{style: 'text-align:right;'} # of Pics
          %th Last Sync
          %th
          %th
          %th
        - @flickr_streams.each do |flickr_stream|
          %tr
            %td{style: 'text-align:right;'}
              = link_to flickr_stream.type_display, flickr_stream_path(flickr_stream)
            %td of
            %td{style: 'text-align:left;'}= link_to flickr_stream.username, user_path(flickr_stream.user_id)
            %td= rating_display(flickr_stream)
            %td{style: 'text-align:right;'}= flickr_stream.pictures.size
            %td= flickr_stream.last_sync ? flickr_stream.last_sync .getlocal.to_s(:short) : ''
            %td= link_to 'Sync', sync_flickr_stream_path(flickr_stream.id)
            %td= link_to 'Stop Collecting', flickr_stream, :confirm => 'Are you sure?', :method => :delete
      .fleft
        = will_paginate @flickr_streams
      .fright
        = page_entries_info @flickr_streams, entry_name: 'collection'
      .clearFloat

    .import
      = render :partial => 'flickr_streams/import'
