- content_for(:head) do
  = javascript_include_tag 'sources.js'
  = stylesheet_link_tag 'mysources'
  :javascript
    __sourcesPath__ = '#{my_sources_flickr_streams_path}';

- content_for(:top_left) do
  .fleft
    = icon(@current_collector)  
  .fleft
    %h3
      My Sources
    #loading-sources-indicator
      = image_tag 'loading.gif'

#sources.container

  = render partial: 'new_sources_added'
  #top-menu
    %a#add-more-sources{href: '#expand-management'}
      Add More Sources

  #sources-list
  #star-category-template.star-category.well.row.hidden
    .stars-label.star.has-popover{'data-content' => 'These star ratings are indication of how much you like photos from the source. The more frequent you fave photos from the source, the higher rating it gets, and the more likely that future photos from it will show up first in the "My Stream" page', title: 'What are these stars about?', 'data-popover' => 'above', 'data-popover-top-offset' => '5'}
      ★
    = render partial: 'streams_grid'

  #empty-sources.well.hidden
    %h2
      First, let's add some sources.  ↓

  #sources-management.well.hidden
    %h2.pointer
      %a#expand-management{href: '#'}
        I want more sources!
    #sources-import-panel.hidden
      .row
        .cell.import-method.well
          %h4.pointer
            %a#add-editor-streams-link{href: '#'}
              Add recommendations from klekr.
        .cell.import-method.well
          %h4
            %a#import-google-reader-link{href: '#'}
              Import from Google reader subscriptions.
      .row
        .cell.import-method.well
          %h4.pointer
            %a#add-contacts-link{href: '#'}
              Add flickr contacts as sources.
        .cell.import-method.well
          %h4
            %a#add-by-user-link{href: '#'}
              Add source by user
      .row
        .cell.import-method.well
          %h4.pointer
            %a#add-group-streams-link{href: '#'}
              Add your flickr groups as sources.

= render partial: 'import_streams', locals: {import_type: 'klekr recommended sources', popup_id:  'import-editor-streams-popup' }
= render partial: 'import_streams', locals: {import_type: 'flickr group sources', popup_id:  'import-group-streams-popup' }
= render partial: 'import_streams', locals: {import_type: 'flickr contacts', popup_id:  'import-contacts-popup' }
= render partial: 'import_google_reader'
= render partial: 'import_user'
