.content
  %h1 My Subscriptions

  %p{:id => "notice"}
    = notice

  %p
    = link_to 'New Subscription', new_flickr_stream_path
    |
    = link_to 'Sync All Subscription', sync_all_flickr_streams_path
    |
    = link_to 'Slide Show', slide_show_pictures_path
    |
    = link_to 'Search for a flickr user', users_path

  - if @number_of_new_pics > 0
    %h4="#{@number_of_new_pics} New Photos!"

  .import
    = render :partial => 'flickr_streams/import'

  %table
    %tr
      %th Type
      %th
      %th Owner
      %th Last sync
      %th
      %th
      %th
    - @flickr_streams.each do |flickr_stream|
      %tr
        %td{style: 'text-align:right;'}
          = link_to flickr_stream.type_display, flickr_stream.stream_url
        %td of
        %td= link_to flickr_stream.username, user_path(flickr_stream.user_id)
        %td= flickr_stream.last_sync ? flickr_stream.last_sync .getlocal.to_s(:short) : ''
        %td= link_to 'Sync', sync_flickr_stream_path(flickr_stream.id)
        %td= link_to 'Unsubscribe', flickr_stream, :confirm => 'Are you sure?', :method => :delete
