- content_for(:head) do
  = javascript_include_tag 'sources.js'
  :javascript
    __sourcesPath__ = '#{@sources_path}';
    __contactsPath__ = '#{@contacts_path}';

- content_for(:top_left) do
  .fleft
    = icon(@current_collector)  
  .fleft
    %h3
      My Sources

#sources.container
  #sources-list
  #star-category-template.star-category.well.row.hidden
    .stars-label
      ★
    .sources-grid
      .source-cell.cell.hidden
        .source-icon-placeholder
          %a.source-icon-link
            %img.source-icon.shadow{src: "http://flickr.com/buddyicons/45425373@N00.jpg"}
        .source-name.text-shadow
          NNBB & Alf's
        .source-type.text-shadow
          works

  #empty-sources.well.hidden
    %h2
      Darn! I have no sources.  ↓

  #sources-management.well.hidden
    %h2.pointer
      %a#expand-management{src: '#'}
        I want more sources!
    #sources-import-panel.hidden

      .row
        .cell.import-method.well
          %h4.pointer
            %a#add-contracts-link{href: '#'}
              Add all my flickr contacts as my sources.
        .cell.import-method.well
          %h4= link_to 'Add source by user', users_path
      .row
        .cell.import-method.well
          %h4 Import from my google reader subscription (coming soon)
        .cell.import-method.well
          %h4 Guess sources from your faves
          %h4 (coming soon)


= render partial: 'import_contacts'