<!DOCTYPE html>
%html
  %head
    %title
      klekr
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield(:head)
    = csrf_meta_tag
  %body
    #top-banner
      #top-banner-left.section
        .fleft
          = yield(:top_left)
        #top-banner-middle.fleft
          = yield(:top_middle)
      .section
        #top-banner-right.fright
          %h4.inline
            - unless @disable_navigation
              = navigation_links
        #top-banner-welcome.fright
          - if @current_collector
            Welcome #{@current_collector.user_name}!
        .fright
          = yield(:top_right)

    = yield

