<!DOCTYPE html>
%html
  %head
    %title
      collectr
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults, 'jquery-1.5.1.min'
    = yield(:head)
    = csrf_meta_tag
  %body
    = yield
